.toggle-switch {
  display: inline-block;
}

.toggle-switch__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 56px;
  height: 28px;
  background-color: #f5f5f5;
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.toggle-switch__checkbox {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  opacity: 0;
  border-radius: 28px;
}

.toggle-switch__text {
  position: absolute;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.15s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.toggle-switch__text_f {
  left: 0;
  background-color: #000;
  color: #fff;
  border-radius: 14px;
}

.toggle-switch__checkbox:checked + .toggle-switch__text_f {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.6);
}

.toggle-switch__text_c {
  right: 0;
  border-radius: 14px;
}

.toggle-switch__checkbox:checked
  + .toggle-switch__text_f
  + .toggle-switch__text_c {
  background-color: #000;
  color: #fff;
}
