.profile {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 0 40px;
  margin-top: 40px;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
  }
}
