.page {
  background-color: #f3f3f3;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  padding: 0 20px;
}
.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 768px) {
  .page {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 0 12px;
  }
}
