.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px 40px;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  margin-right: 24px;
  cursor: pointer;
}

.header__date-and-location {
  margin: 0;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header__add-clothes-btn {
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.header__user-link {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
  margin-right: 40px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.header__user-name {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
